* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

form {
  padding: 2%;
}

label {
  font-size: 2rem;
  width: 150px;
  display: inline-block;
}

.submit-button {
  height: 20px;
  width: 100px;
  background-color: red;
  color: teal;
  border-radius: 15px;
  border-top-left-radius: 2px;
}

.main-form-section {
  width: 70%;
  background-color: beige;
  margin: 10px auto;
}

.individual-form {
  margin-top: 20px;
}

.individual-input {
  width: 50%;
  height: 30px;
}

input[type="number"] {
  background-color: hotpink;
}

.gender {
  display: inline-block;
}

.gender-label {
  width: 100px;
}
