* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", serif;
}

.header {
  color: #6a5acd;
  text-align: center;
}

.main-container {
  width: 60%;
  margin: 10px auto;
  border: 1px solid black;
  background-color: #6a5acd;
  padding: 10px;
  color: white;
}

.form {
  margin-top: 20px;
}

label {
  width: 105px;
  display: inline-block;
}

.label-box {
  margin-right: -55px;
}

.button {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: auto;
}

