* {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 25px;
  width: 100%;
  background-color: #ffffff;
}

.container {
  height: 25px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
}

ul,
li,
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-left: 5px;
}

.container2 {
  height: 25px;
  width: 100%;
  background-color: #ffffff;
}

.container3 {
  height: 25px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
}

.container4 {
  height: 700px;
  width: 100%;
  background-color: #f19469;
}

.container5 {
  height: 700px;
  width: 20%;
  background-color: #f19469;
  display: inline-block;
}

.container6 {
  height: 700px;
  width: 60%;
  background-color: rgb(244, 101, 35);
  display: inline-block;
}

.container7 {
  height: 700px;
  width: 19%;
  background-color: #f19469;
  display: inline-block;
}

.container8 {
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  margin-left: 300px;
}

.container9 {
  height: 35px;
  width: 100%;
  background-color: rgb(69, 43, 104);
}

.container10 {
  height: 25px;
  width: 80%;
  background-color: rgb(69, 43, 104);
  margin: auto;
}

.icon,
.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  width: 15px;
}

.a {
  margin-left: 95px;
}

.b {
  margin-right: 420px;
}
