* {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}

.container-1 {
  background-color: #ffffff;
}

.icon {
  color: #636b71;
}

ul,
li,
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.container-2 {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}

.container-3 {
  height: 40px;
  width: 73%;
  background-color: #ffffff;
  margin: auto;
}

.container-4 {
  height: 700px;
  width: 100%;
  background-color: #f19469;
}

.container-5 {
  height: 700px;
  width: 15%;
  background-color: #f19469;
  display: inline-block;
}

.container-6 {
  height: 700px;
  width: 70%;
  background-color: #f36422;
  display: inline-block;
}

.container-7 {
  height: 700px;
  width: 14%;
  background-color: #f19469;
  display: inline-block;
}

.container-8 {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
}

.container-9 {
  height: 60px;
  width: 75%;
  background-color: #ffffff;
  margin: auto;
}

.container-10 {
  height: 40px;
  width: 100%;
  background-color: #452B68;
}

.container-11 {
  height: 40px;
  width: 65%;
  background-color: #452B68;
  margin: auto;
}
