* {
  margin: 0;
  padding: 0;
}

.maincontainer {
  background-color: beige;
  height: 40px;
  width: 100%;
  border-bottom: 4px solid black;
}

.container {
  background-color: beige;
  height: 40px;
  width: 80%;
  margin: 10px auto;
  text-decoration: none;
}

.container li {
  display: inline-block;
}

.container li a {
  text-decoration: none;
  color: black;
}

.container h4 {
  display: inline-block;
}

ul {
  display: inline-block;
}

.container1 {
  background-color: beige;
  height: 40px;
  width: 30%;
}

ul,
li,
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
